<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>
        {% block title %}
            {{ title|title }}
        {% endblock %}
    </title>
    {% block css %}
        <link rel="stylesheet" type="text/css" href='{% static "css/style.css"%}'>
    {% endblock %}
</head>
<body>
    <div class="container">
        {% block menu %}
            <ul class="menu">
                {% if user.is_superuser %}
                <li><a href="/admin"> Админка </a></li>
                {% endif %}
                <li><a href="{% url 'main' %}">главная</a></li>
                <li><a href="http://igornsk.pythonanywhere.com/contacts/">контакты</a></li>

                {% if user.is_authenticated %}
                <li><a href="{% url 'auth:logout' %}"> выход </a></li>
                <li><a href="{% url 'auth:edit' %}"> редактирование профиля </a></li>
                <li><a href="{% url 'poll:poll' %}"> опросник </a></li>
                {% else %}
                <li><a href="{% url 'auth:login' %}"> вход </a></li>
                <li><a href="{% url 'auth:register' %}"> регистрация </a></li>
                {% endif %}

            </ul>
        {% endblock %}
            {% if user.is_authenticated %}
            {{ user.username|default:'Пользователь' }}
                    {% block content %}

                    {% endblock %}
            {% else %}
            NO REGISTRATIONS
            {% endif %}
        {% block content_1 %}

        {% endblock %}
	</div>
        {% block footer %}
    <p> &copy; {% now "D M Y" %} </p>
        {% endblock %}
</body>
</html>